{% extends 'layout-chat.html' %}
{% block content %}
<div class="page-header">
<h2>投稿</h2>
</div>
<form id="input-form" class="form-inline">
<div class="form-group">
<input id="input-text" type="text" class="form-control" placeholder="ここにテキストを入力" autofocus />
</div>
<button id="send-btn" class="btn btn-primary" type="submit" disabled="disabled">送信</button>
<button id="bay-btn" class="btn btn-primary" type="button" disabled="disabled">離席ボタン</button>
<button id="re-btn" class="btn btn-primary" type="button" disabled="disabled">再開ボタン</button>
</form>
<div class="page-header">
<h2>チャット</h2>
</div>
<div id="chat-text">
{{mess|safe}}
</div>
{% endblock %}
