{% extends 'layout.html' %}
{% block content %}
<h1>削除するユーザーを選択</h1>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for cate, mess in messages %}
<div class="{{ cate }}">{{mess}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/sp-service/sp-admin/user/delete" method="post">
<div class="container">
<a href="/sp-service/sp-admin/user" class="btn btn-info">ユーザーリストへ戻る</a>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr><th>番号</th><th>ユーザーネーム</th><th>ハンドルネーム</th><th>パスワードソルト</th><th>色</th><th>タイプ</th><th>削除</th></tr>
</thead>
<tbody>
{% for user in users %}
<tr><td>{{user[0]}}</td><td>{{user[1]}}</td><td>{{user[2]}}</td><td>{{user[3]}}</td><td>{{user[4]}}</td><td>{{user[5]}}</td><td><input type="checkbox" name="delete" value="{{user[0]}}"></td></tr>
{% endfor %}
</tbody>
</table>
</div>
<button type="submit" class="btn btn-danger">削除</button>
</form>
</div>
{% endblock %}
