{% extends 'layout.html' %}
{% block content %}
<h1>File Uploder</h1>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for cate, mess in messages %}
<div class="{{ cate }}">{{mess}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<hr>
<form action="/sp-service/upload" method="post" enctype="multipart/form-data">
<div class="custom-file">
<input type="file" id="file" name="uploadFile" class="custom-file-input" required>
<label class="custom-file-label" for="file">Choose file...</label>
</div>
<button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}
