{% extends 'layout.html' %}
{% block content %}

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for cate, mess in messages %}
<div class="{{ cate }}">{{mess}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<h1>Threads</h1>
<hr>
<a href="/sp-service/threads/new" class="btn btn-info">New</a>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr><th>ID</th><th>Name</th><th>Description</th><th>Auther</th><th></th></tr>
</thead>
<tbody>
{% for thread in threads %}
<tr><td>{{thread[0]}}</td><td>{{thread[1]}}</td><td>{{thread[2]}}</td><td>{{thread[3]}}</td><td><a href="/sp-service/thread/{{thread[1]}}" class="btn btn-primary">Select</a></td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
